$crossword-item-size: 50px;
$crossword-column-count: 9;
$crossword-row-count: 9;

$active-color: rgb(172, 218, 255);

.board-container{
    position: relative;
    background: white;
}

.board {
    width: ($crossword-item-size * $crossword-column-count);
	height: ($crossword-item-size * $crossword-row-count);
    background: transparent;
    display: grid; 
    grid-template: repeat(9,11.111111111111%) / repeat(9,11.111111111111%);
  }

// Individual squares
.cell {
    border: 1px solid black;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

// Active cell to input number
.cell:focus{
    background: $active-color;
    outline: transparent;
}

// Changing pre-filled cell
.prefill{
    background: rgb(224, 224, 224);
}

.prefill::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}
  
.prefill:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

.prefill::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

// Setting Right Border
.cell:nth-child(3n+3){
    border-right: 0.2em solid black;
}

$left-border: c1, c10, c19, c28, c37, c46, c55, c64, c73;
@each $id in $left-border{
    ##{$id}{
        border-left: 0.2em solid black;
    }
}

$top-border: c1, c2, c3, c4, c5, c6, c7, c8, c9,
c28, c29, c30, c31, c32, c33, c34, c35, c36,
c55, c56, c57, c58, c59, c60, c61, c62, c63;
@each $id in $top-border{
    ##{$id}{
        border-top: 0.2em solid black;
    }
}

$bottom-border:  c73, c74, c75, c76, c77, c78, c79, c80, c81;
@each $id in $bottom-border{
    ##{$id}{
        border-bottom: 0.2em solid black;
    }
}